.main-header{
    height: 30px;line-height: 30px;margin: 10px 0;
    background-color: #F2F2F2;
}
.tree-bg{
    background-color: #f6fafd;
    padding: 0;
    margin: 0;
}
.layer-form{
    padding: 20px;
}
.main-bg .video{
    min-height:300px;
}
.main-bg .page-header{
    margin: 0;
}
.main-bg .bg-success{
    height: 60px;
    line-height:60px;
}
#mainContainer{
    margin: 10px 0;
}
#mainBody{
    overflow: auto;
}
