<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.MenuMapper">
    <select id="getMenuTree" parameterType="MenuEo" resultType="MenuEO">
		select rid,rid id,url reqUrl,pid,code,name,ord,type,
		create_user createUser,status,icon_class iconClass  from sys_menu
		where 1=1
		<if test="id !=null and id != ''">
			and pid = #{id}
		</if>
		<if test="type !=null and type != ''">
			and type = #{type}
		</if>
		<if test="queryFlag !=null and queryFlag != ''">
			and type != 'BUSI_TYPE'
		</if>
		order by ord
	</select>
	<insert id="saveMenuInfo" useGeneratedKeys="true" keyProperty="rid" parameterType="MenuEO">
		insert into sys_menu(
			url,pid,code,name,ord,type,create_time,create_user,status,icon_class
		)
		values(#{reqUrl},#{pid},#{code},#{name},#{ord},#{type},(select now() from dual),#{createUser},#{status},#{iconClass})
	</insert>

	<update id="updateMenuInfo" parameterType="MenuEO">
		update sys_menu set
			url = #{reqUrl},pid = #{pid},code = #{code},name = #{name},ord = #{ord},
			type = #{type},update_time = (select now() from dual),update_user = #{createUser},status = #{status}
			,icon_class=#{iconClass}
		where rid = #{id}
	</update>

	<update id="del" parameterType="MenuEO">
		delete from sys_menu where rid = #{id}
	</update>

	<select id="getBtnPageCnt" parameterType="map" resultType="long">
		select count(1) from sys_btn where menu_id = #{menuId}
		<if test="key != null and key != ''">
			and code = #{key} or name like concat('%',concat(#{key},'%'))
		</if>
	</select>

	<select id="getBtnPageList" parameterType="map" resultType="map">
		select * from sys_btn where menu_id = #{menuId}
		<if test="key != null and key != ''">
			and code = #{key} or name like concat('%',concat(#{key},'%'))
		</if>
		order by rid desc
		limit #{startNum},#{pageSize}
	</select>

	<insert id="saveBtnInfo" parameterType="BtnInfoEO">
		insert into sys_btn(code,name,btn_url,menu_id,remark)
		values(#{code},#{name},#{btnUrl},#{menuId},#{remark})
	</insert>

	<select id="getOneById" parameterType="Integer" resultType="BtnInfoEO">
		select rid id,code ,name,btn_url btnUrl,menu_id menuId,remark from sys_btn
		where rid = #{id}
	</select>

	<update id="updateBtnInfo" parameterType="BtnInfoEO">
		update sys_btn
		set code = #{code},
		name = #{name},
		btn_url = #{btnUrl},
		remark = #{remark}
		where rid = #{id}
	</update>

	<delete id="delBtnById" parameterType="Integer">
		delete from sys_btn where rid = #{id}
	</delete>
</mapper> 