<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.UserMapper">
	<select id="getLoginUserByUserId" parameterType="string" resultType="UserEO">
		select rid as id,userid as userId,
		username as userName,password as passWord,
		 status as status ,create_date as createDate,
		 update_date as updateDate,password_key as passwordKey from cms_system_user where userId = #{userId}
	</select>
</mapper> 