.main-header{
    height: 30px;line-height: 30px;margin: 10px 0;
    background-color: #F2F2F2;
}
#mainMenu{
    width: 10%;
}
#mainContainer{
    width: 90%;
}
.tree-bg{
    background-color: #f6fafd;
    overflow: auto;
    position: fixed;
}
.right-layout{
    padding-right: 0;
    padding-left: 50px;
}
.local-form{
    width: 60%;
}
.layer-form{
    padding: 20px;
}
.main-bg .video{
    min-height:300px;
}
.main-bg .page-header{
    margin: 0;
}
.main-bg .bg-success{
    height: 60px;
    line-height:60px;
}
#mainContainer{
    margin: 10px 0;
}
#mainBody{
    overflow: auto;
}
.message-content{
    width: 360px;
    min-height: 100px;
    padding: 10px;
    text-align: left;
    line-height: 100px;
    font-size: 18px;
    color:#FFFFFF;
    vertical-align: middle;
    background: #009688;
}
.tree-edit-add-catalog{
    background: url("/images/add.png") center 0 no-repeat!important;
    height: 15px;
}
.tree-edit-add{
    background: url("/images/tree_add.gif") center 0 no-repeat!important;
}
.tree-edit-edit{
    background: url("/images/tree_edit.gif") center 0 no-repeat!important;
}
.tree-edit-del{
    background: url("/images/tree_del.gif") center 0 no-repeat!important;
}
.tree-edit-copy{
    background: url("/images/tree_copy.png") center 0 no-repeat!important;
    position: relative;
    top:-2px;
}
.tree-edit-insert{
    background: url("/images/label_insert.gif") center 0 no-repeat!important;
}
